* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #44546f;
  background-color: rgb(55, 72, 102);
  background-repeat: no-repeat;
  min-height: 100vh;
  user-select: none;
}


