* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #44546f;
  background-color: rgb(55, 72, 102);
  background-repeat: no-repeat;
  min-height: 100vh;
  user-select: none;
}

.padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  margin-left: 200px;
  margin-top: 250px;
  margin-bottom: 100px;
  background-color: #577cf5;
}

.hijos {
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  border: 1px solid #000000;
  color: #000000;
}
