@import '../../variables.css';

.liContainer {
  position: relative;
  list-style: none;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 50px;
  padding: 10px;
  background-color: var(--task-color);
  box-shadow: 0 1px 1px #091e4240, 0 0 1px #091e424f;
}
.liContainer:hover {
  background-color: var(--list-color);
}

.taskHover {
  background-color: var(--list-color);
}

.liContent {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  word-wrap: break-word; /* Rompe las palabras largas para ajustar dentro del contenedor */
}

.iconsContainer {
  position: absolute;
  top: 5px;
  right: 10px;
}
