.padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 90vh;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: transparent;
}

.hijos {
  font-size: 20px;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 25px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: rgb(254, 70, 165);
}
